NEXT_PUBLIC_BASE_URL=http://localhost:3500/api
NEXT_PUBLIC_CONTAINER=next_personal
NEXT_PUBLIC_TABLE=project
NEXT_PUBLIC_GITHUB_ID=your_github_id
NEXT_PUBLIC_GITHUB_SECRET=your_github_secret
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=your_facebook_client_id
NEXT_PUBLIC_FACEBOOK_CLIENT_SECRET=your_facebook_client_secret
NEXT_PUBLIC_EMAIL_SERVER_HOST=your_email_server_host
NEXT_PUBLIC_EMAIL_SERVER_PORT=your_email_server_port
NEXT_PUBLIC_EMAIL_SERVER_USER=your_email_server_user
NEXT_PUBLIC_EMAIL_SERVER_PASSWORD=your_email_server_password
NEXT_PUBLIC_EMAIL_FROM=your_email_from
NEXT_PUBLIC_SECRET=your_public_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAP_KEY=your_google_map_key
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
NEXT_PUBLIC_ROZORPAY_PUBLIC_KEY=your_razorpay_public_key
