.product-card-content {
  &:hover {
    .actionIcons {
      display: flex;
    }
  }
}

.prodileUrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 1rem;
  &:hover{
    border-left: 2px solid red;
    color: red;
  }
}
