@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import 'resuit/dist/resuit.css'; */
@import 'rsuite/dist/rsuite.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom bounce animation */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Glow effect */
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
}

/* Applying custom animations */
.animate-bounce {
  animation: bounce 1s infinite;
}

.glow {
  animation: glow 1.5s infinite alternate;
}
